:root {
    --blanco: #a5b6c7;
    --oscuro: #7a7c94;
    --primario: #e4e4be;
    --secundario: #f5aad0;
    --gris: #e4b8ef;

}


body {
    background-image: linear-gradient(to left, rgb(210, 45, 130), rgb(245, 154, 239));
}