

.paragraph-contacto{
    color: white;
    background-color: var(--secundario);
    border: gainsboro 2px solid;
    margin-left: 2rem;
    margin-right: 2rem;
}
.formulario {
    background-color: var(--secundario);
    border: gainsboro 2px solid;
    margin: 1rem auto 0 auto;
    width: 95%;
    padding: 2rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;

    &__label{
        flex: 0 0 9rem;
        text-align: right;
        padding-right: 2rem;
        
    }

    &__field {
        flex: 1;
        border: 1px solid var(--oscuro);
    }



}


.campo__field--textarea {
    height: 20rem;
}