.faq {
    color: white;
}

.faq-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }

}


.faq-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
       }


}

.faq-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }
   
}

.faq-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }
}

.faq-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }
}



.faq-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gainsboro 2px solid;
    background-color: var(--secundario);
    margin: 2rem;

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }
}

